$color-title: #333;
$color-text: #999;
$scale-value: 1.05;
$rotate-value: -8deg;

.card-container {
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    .img-scale {
      transform: scale($scale-value);
    }

    .img-rotate {
      transform: rotate($rotate-value);
    }
  }

  .img-container {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
    }

    .img-scale, .img-rotate {
      transition: all .4s ease-in-out;
    }
  }

  .text-container {
    .title {
      margin: 0;
      padding-top: 10px;
      color: $color-title;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .description {
      margin: 0;
      padding-top: 5px;
      color: $color-text;
    }
  }
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.1) !important;
}
